@font-face {
    font-family: 'Trajan Pro';
    src: url('/fonts/TrajanPro-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.next-step-button {
    /* 基础样式 */
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;

    /* 悬浮定位 */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;

    /* 增加阴影效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.next-step-button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global.css */
html,
body {
    height: 100%;
    /* 确保html和body占满视口高度 */
    margin: 0;
    /* 移除默认边距 */
}

/* global.css */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}


main {
    flex: 1;
    /* 这会让main占据剩余高度 */
    display: flex;
    /* 添加flex布局 */
}